<section style='text-align: right;'>
  <% if !!current_user %>
    <%= current_user.name %>
    |
    <%= link_to 'Log out', session_path, method: :delete %>
  <% else %>
    <%= link_to 'Log in', new_session_path %>
  <% end %>
</section>
